<h2 id="our-services-header">Our Services</h2>
<section id="about-us">
    <p itemprop="description">
        Beasley Accounting &amp; Tax provides payroll, bookkeeping, and tax preparation for individuals, corporations, and partnerships.
        Our principal accountant, Terri Beasley, is an enrolled agent who can represent taxpayers before the IRS.
    </p>
    <p>
        Tax drop offs welcome any time&mdash;after hours, drop items through the mail slot in the door. <br />
        Consultations by appointment. 
    </p>
</section>

<h2 id="location-header">Contact Us</h2>
<section id="location-contact">
    <div id="contact-info">
        <address class="contact-method" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <div itemprop="streetAddress">10955 Winds Crossing Dr <br /> Ste 200</div>
            <div><span itemprop="addressLocality">Charlotte</span>, <span itemprop="addressRegion">NC</span> 28273</div>
        </address>
        <ul id="phone-fax" class="contact-method">
            <li><small>Phone:</small> <a href="tel:704-788-1080" itemprop="telephone">704.788.1080</a></li>
            <li><small>Fax: </small> <span itemprop="faxNumber">704.652.7500</span></li>
        </ul>
        <a href="mailto:beasleyaccounting@carolina.rr.com">beasleyaccounting@carolina.rr.com</a>
    </div>
    <div id="location-images" class="clearfix">
        <div class="image">
            <img src="/images/building1.jpeg" alt="Picture of the front left of the Beasley Accounting office" />
        </div>
        <div class="image">
            <img src="/images/building2.jpeg" alt="Picture of the front right of the Beasley Accounting office" />
        </div>
        <div class="image">
            <a id="google-map" href="https://www.google.com/maps/place/10955+Winds+Crossing+Dr,+Charlotte,+NC+28273/@35.1158023,-80.9591535,17z/data=!4m2!3m1!1s0x88569a46d12f3165:0xeeb923172244a4c8" target="_blank">
                <img src="/images/map.jpeg" alt="See this address on Google Maps" />
            </a>
        </div>
    </div>
    <div id="email-block" class="contact-method">
        <form action="/" method="post">
            <% if @error %>
                <p class="error"><%= @error %>
            <% end %>
            <fieldset>
                <legend>Send us a message</legend>
                <p class="error"><%= @errors[:from_email] if !@errors.nil? %></p>
                <label>
                    Email Address: <br />
                    <input type="text" name="from_email" value="<%= params[:from_email] %>" />
                </label>
                
                <p class="error"><%= @errors[:subject] if !@errors.nil? %></p>
                <label>
                    Subject: <br />
                    <input type="text" name="subject" value="<%= params[:subject] %>" />
                </label>
                
                <p class="error"><%= @errors[:message] if !@errors.nil? %></p>
                <label>
                    Message: <br />
                    <textarea name="message"><%= params[:message] %></textarea>
                </label>	
                <input type="text" name="phone" value="" id="honeypot" />
                <button type="submit">Send message</button>
                <% if @notice %>
                    <p class="notice"><%= @notice %>
                <% end %>
            </fieldset>
        </form>
    </div>	
</section>